'use strict';
/**
 * @ngdoc controller
 *
 * @name {{resources}}.controller:{{Resource}}Controller
 * @requires $scope
 *
 * @description
 * Controller of the {{resources}}
 *
 */
angular.module('{{resources}}')
	.controller('{{Resource}}Controller', function($scope) {
	
	});