'use strict';
/**
 * @ngdoc directive
 *
 * @name {{resources}}.directive:{{resource}}
 * @restrict E
 *
 * @description
 * Widget for displaying template for {{resources}}.
 *
 * @param {string|expression} attr Description
 */
 angular.resource('{{resources}}')
	.directive('{{resource}}', function() {
		return {
			templateUrl: 'modules/{{resources}}/views/{{resource}}.html',
			restrict: 'E',
			link: function postLink(scope, element, attrs) {
				// link DOM element to scope
			}
		};
	});