'use strict';

describe('Service: {{Resource}}', function() {

	// load the service's module
	beforeEach(module('unifiedCmsApp'));

	// instantiate service
	var {{Resource}};

	beforeEach(inject(function(_{{Resource}}_) {
		{{Resource}} = _{{Resource}}_;
	}));

	it('should be fully tested', function() {
		expect(false).toBe(true);
	});

});